.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.login-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 40%;
}


.user-section {
    margin-left: 10px;
    font-family: 'Roboto, sans-serif';
}

.bigger {
    font-size: 1.5em;
}


.post-box {
    display: flex; 
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    aling-content: center;

    background-color: #fff;
    border-radius: 4px;
    margin: 1% auto;
    height: 100px;
    position: relative;
    padding: 34px;
    color: #444;
    border: 0.09em solid #999999;
}

.post-box:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #ccc;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 50%;
    z-index: -1;
    box-shadow: 0 0 40px #999999;
    transition: box-shadow .2s ease-in-out;
}


.sticky-toolbar {
    width: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;

}


.content-section {
    margin-left: 3%;
}
